.mat-form-field {
  width: 100%;
}

.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: flex-start;
}

.example-radio-button {
  margin: 5px;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: rgb(30, 186, 40);
   opacity: 1!important; }